torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
transformers
qdrant-client
streamlit
jinja2
pandas
pillow
scikit-learn
matplotlib
seaborn
